/simulator_main/bin
/simulator_main/obj
/simulator_main/bin
/simulator_main/bin

!/simulator_main/obj/project.assets.json
!/simulator_main/obj/project.nuget.cache
!/simulator_main/obj/simulator_main.csproj.nuget.dgspec.json
!/simulator_main/obj/simulator_main.csproj.nuget.g.props
!/simulator_main/obj/simulator_main.csproj.nuget.g.targets


/simulator_testing/bin/
/simulator_testing/obj/

/simulator_libary/bin
/simulator_libary/obj


